[Unit]
Description=RSRSSR server
After=network.target

[Service]
WorkingDirectory=/root/rsrssr
Environment="PATH=/root/rsrssr/venv/bin"
ExecStart=/root/rsrssr/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:80 server:app

[Install]
WantedBy=multi-user.target
