[Unit]
Description=Update RSS Feeds

[Timer]
OnCalendar=*-*-* 00..03,05..22:00:00
RandomizedDelaySec=3000
Unit=rsrssr-update.service
Persistent=true

[Install]
WantedBy=timers.target
