[Service]
Type=oneshot
WorkingDirectory=/root/rsrssr
Environment="PATH=/root/rsrssr/venv/bin"
ExecStart=/root/rsrssr/venv/bin/python update.py

[Install]
WantedBy=multi-user.target
