<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSRSSR: Manage Feeds</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Manage RSS Feeds</h1>
    <a href="/">Home</a>
    <form method="POST" class="new-feed">
        <input type="text" name="url" placeholder="New RSS Feed URL" required>
        <button type="submit">Add Feed</button>
    </form>
    <p style="color:var(--color-subtle);">{{ feeds | length }} feeds total</p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>Last Updated</th>
                <th>Has Cache Tag</th>
                <th>Num. Items</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td>
                    {{ feed.title | default("Unknown", true) }}
                </td>
                <td>
                    <a href="{{feed.url}}">{{ feed.url }}</a>
                </td>
                <td>
                    {{ feed.last_updated | format_date | default("never", true) }}
                </td>
                <td>
                    <input type="checkbox" disabled {% if feed.etag is not none or feed.modified is not none %}checked{% endif %}/>
                </td>
                <td> {{ feed.items | length }} </td>
                <td>
                    <form method="POST" style="display:inline;">
                        <input type="hidden" name="delete" value="{{ feed.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
