{% from 'macros.html' import itemView, navLinks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSRSSR</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div>
        {% if from_feed %}
        <div class="from-feed-header">
            <a href="/">← Back to All Feeds</a>
            <h1>{{ from_feed.title }}</h1>
            <p class="info">
                Last updated: {{ from_feed.last_updated | format_date | default("never", true) }}. Number of items: {{ from_feed.items | length }}.
            </p>
        </div>
        {% endif %}
        {% for item in items %}
            {{ itemView(item=item, showFeedTitle=not from_feed, showAuthor=True) }}
        {% endfor %}
    </div>
    <footer>
        <div class="pages">
            {% if from_feed %}
            <a href="/?feed={{ from_feed.id }}&offset={{ prev_page }}">← </a>
            <a href="/?feed={{ from_feed.id }}&offset={{ next_page }}">→ </a>
            {% else %}
            <a href="/?offset={{ prev_page }}">← </a>
            <a href="/?offset={{ next_page }}">→ </a>
            {% endif %}
        </div>
        <div class="foot">
            {{ nav() }}
            <div class="info">
                Last updated in {{ update_time }}s on {{ last_update | format_date }} ({{ new_item_count }} new items from {{ feed_count }} feeds).
                Loaded now in {{ load_time }}s.
            </div>
        </div>
    </footer>
</body>
</html>
