<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RSRSSR</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div>
        {% for item in items %}
            <div class="feed-item">
                <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                <div class="item-info">
                <span>
                    {{ item.feed.title }}
                    {% if item.author %}
                        / {{item.author}}
                    {% endif %}
                </span>
                —
                <span>{{ item.published | format_date }}</span>
                <details>
                    <summary>Description</summary>
                    {{ item.description | safe }}
                </details>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer>
        <a href="/feeds">Manage Feeds</a>
        <div class="info">
            {{ updated_feed_count }} feeds updated, {{ failed_feed_count }} feeds failed to update, {{ feed_count }} feeds total. Updated in {{ update_time }}s, rendered in {{ load_time }}s
        </div>
    </footer>
</body>
</html>
