{% macro pageHead(title) %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="icon" href="/static/favicon.ico" type="image/ico"/>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/item.mjs" type="module"></script>
{% endmacro %}

{% macro itemView(item, showFeedTitle, showAuthor, showLikeButton, showDismissButton=False) %}
<div class="feed-item">
    <a href="{{ item.link }}" class="{% if item.visited %}visited-item{% endif %}" target="_blank" onclick="postVisit({{ item.id }})">{{ item.title }}</a>
    <div class="item-info">
        {% if showLikeButton %}
        <form class="like-button" method="POST" action="/like?id={{item.id}}">
        <button>
            {% if item.liked %}
            ♥
            {% else %}
            ♡
            {% endif %}
        </button>
        </form>
        {% endif %}
        {% if showFeedTitle %}
            <span>
            <a href="/list?feed={{ item.feed_id }}">{{ item.feed.title }}</a>
            {% if item.author and showAuthor %} / {% endif %}
            {% endif %}
            {% if item.author and showAuthor %}
            {{item.author}}
            </span>
        {% endif %}
        {% if item.author and showAuthor %}—{% endif %}
        <span>{{ item.published | format_date | default('unknown', true) }}</span>
        <a onclick="showDescriptionDialog({{ item.id }})">Details</a>
        {%- if showDismissButton %}
        <a href="#" onclick="postDismiss({{ item.id }}); return false;" style="margin-left:0.5rem;">Dismiss</a>
        {%- endif %}
        <dialog id="description-dialog-{{ item.id }}">
            <button onclick="closeDescriptionDialog({{ item.id }})">Close</button>
            <h1>{{item.title}}</h1>
            <p>{{ item.description | safe }}</p>
            <a href="{{ item.link }}" class="{% if item.visited %}visited-item{% endif %}" target="_blank" onclick="postVisit({{ item.id }})">Read more</a>
        </dialog>
    </div>
</div>
{% endmacro %}

{% macro navLinks() %}
<div class="nav">
    <a href="/list">All Items</a>
    <a href="/feeds">Manage Feeds</a>
    <a href="/stats">Update Statistics</a>
</div>
{% endmacro %}

{% macro footerInfo(last_stats, load_time) %}
<div class="info">
    {% if last_stats %}
    Last updated in {{ last_stats.dur_total }}s on {{ last_stats.timestamp | format_date }} ({{ last_stats.num_new_items }} new items from {{ last_stats.num_feeds }} feeds).
    {% endif %}
    Loaded now in {{ load_time }}s.
</div>
{% endmacro %}
