{% from 'macros.html' import pageHead, itemView, navLinks, footerInfo %}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ pageHead(title="RSRSSR") }}
    <link rel="stylesheet" href="/static/overview-styles.css">
</head>
<body>
    <div class="container">
    {% for feed in feeds %}
    <div class="feed-card" title="{{ feed.rank }}">
        <a class="title" href="/list?feed={{ feed.id }}">{{feed.title}}</a>
        <div class="card-items">
        {% for item in feed['items'] %}
            {{ itemView(item=item, showFeedTitle=False, showAuthor=False, showLikeButton=False) }}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>
    <footer>
        <div class="foot">
        {{ navLinks() }}
        {{ footerInfo(last_stats, load_time) }}
        </div>
    </footer>
</body>
</html>
