{% from 'macros.html' import itemView, navLinks, pageHead %}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ pageHead(title="RSRSSR: Update Stats") }}
    <style>
        .plot-container {
            height: 80vh;
            width: 100%;
        }
    </style>
</head>
<body>
    {{ figure | safe }}
    <footer>
        <div class="foot">
            {{ navLinks() }}
            <div class="nav">
                <a href="/stats?window=day">Last Day</a>
                <a href="/stats?window=week">Last Week</a>
                <a href="/stats?window=month">Last Month</a>
            </div>
        </div>
    </footer>
</body>
</html>
